<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      The News Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">News</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Goes to My Mood Page// To Save Data -->
  <br>
  <h1>You're Mood Today is: {{myMood}}</h1>
  <br>
  <ion-button [routerLink]="['/mood']">Log Your Mood</ion-button>
  <br>
  <br>


  <!-- Displays the best racing teams of f1 this year -->
  <img length="700" width="400" src="https://cdn.abcdoabc.com.br/formula-1-red-bull-e-mercedes-24-06_27e93d01.jpg"/> 
  <br>
  <ion-button [routerLink]="['/racing']">Latest Formula 1</ion-button>
  <br>
  <br>

  <!-- latest technology news -->
  <img length="700" width="400" src="https://getwallpapers.com/wallpaper/full/1/d/d/765263-beautiful-technology-background-images-1920x1200.jpg"/> 
  <br>
  <ion-button [routerLink]="['/technology']">Latest In Technoology</ion-button>
  <br>

  
</ion-content>
